.buttons-container {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 1000;
  border: 2px solid royalblue;
  border-radius: 10px;
}

#entityA-group {
  cursor: pointer;
}

#entityA-group:hover {
  opacity: 0.5;
}
